<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @record.user_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @record.memo %>
</p>

<p>
  <strong>Image:</strong>
  <%= @record.image %>
</p>

<p>
  <strong>Date:</strong>
  <%= @record.date_id %>
</p>

<p>
  <strong>Date data:</strong>
  <%= @record.date_data %>
</p>

<p>
  <strong>User:</strong>
  <%= @record.user %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
